:root{
  --cafe:#5b281d;
  --colorcuadros:#0D171F;
  --colorgeneral:#0D171F;
  --naranja:#DC9D47 ;
}
body {
  padding:0px;
  margin: 0px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
}
a {
  text-decoration: none;
}