:root{
    --rosa:#fac9dc;
  }
  body {
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    background-color: var(--rosa);
  }
  a {
    text-decoration: none;
  }